<h1> Welcome to Secret Number! </h1>

<p> To play this game, all you ahve to do is guess a number.  Click on a nubmer below </p>

<% (1..5).each do |number| %>
	<%= link_to number, secret_number_path(number) %>
<% end %>
